{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "env": {
    "es6": true
  },
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,

    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0
  }
}
